<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>about-me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Place sidebar content here -->
            <h1>about-me</h1>
            <p>when you are lazy to answer questions about yourself</p>
            <form action="/reset" method="get">
                <button type="submit">Reset Chat History</button>
            </form>

            <form action="/upload-text" method="post">
                <textarea name="new_text" placeholder="Paste new text here..." rows="4" cols="50"></textarea>
                <button type="submit">Upload Text</button>
            </form>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <!-- Display Flash Messages -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <!-- Chat history and input form -->
            <div class="chat-interface">

                <div class="chat-history" id="chat-history">
                    {% for chat in history %}
                    <div class="message user-msg">
                        <h2>You:</h2>
                        <p>{{ chat.query }}</p>
                    </div>
                    <div class="message chatbot-msg">
                        <h2>AboutMe Bot:</h2>
                        <p>{{ chat.response }}</p>
                    </div>
                    {% endfor %}
                </div>

                <form action="/" method="post" id="prompt-form">
                    <textarea id="prompt-input" name="query" placeholder="Enter your question here"
                        oninput="autoResizeTextarea(this)"></textarea>
                    <button type="submit">Ask</button>
                </form>

            </div>


        </div>
    </div>




    <script>
        function autoResizeTextarea(textarea) {
            textarea.style.height = 'auto'; // Reset the height
            textarea.style.height = (textarea.scrollHeight) + 'px'; // Set to the current scroll height
        }

        window.onload = function () {
            var chatHistory = document.getElementById("chat-history");
            chatHistory.scrollTop = chatHistory.scrollHeight;

            // Automatically resize the textarea on page load if it contains text
            var promptInput = document.getElementById('prompt-input');
            if (promptInput.scrollHeight > promptInput.clientHeight) {
                autoResizeTextarea(promptInput);
            }
        };
    </script>


</body>

</html>
