<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>about-me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>about-me</h1>
    <p>when you are lazy to answer questions about yourself</p>
    <form action="/" method="post">
        <input type="text" name="query" placeholder="Enter your question here">
        <button type="submit">Ask</button>
    </form>

    <!-- Add this form for the reset button -->
    <form action="/reset" method="get">
        <button type="submit">Reset Chat History</button>
    </form>

    <div class="chat-history" id="chat-history">
        {% for chat in history %}
        <div class="message user-msg">
            <h2>You:</h2>
            <p>{{ chat.query }}</p>
        </div>
        <div class="message chatbot-msg">
            <h2>Chatbot:</h2>
            <p>{{ chat.response }}</p>
        </div>
        {% endfor %}
    </div>

    <script>

        window.onload = function () {
            var chatHistory = document.getElementById("chat-history");
            chatHistory.scrollTop = chatHistory.scrollHeight;
        };
    </script>
</body>

</html>
